body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}
.favButton:hover{
  background-color: rgba(136, 136, 136, 0.349);
}


h1{
  text-align: center;
}



a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgba(136, 136, 136, 0.686);
} 



.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem;
  border: 0.5px solid rgba(136, 136, 136, 0.56);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 80vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

.vista{
  min-height: 60vh;
  padding-top: 54px;
}



.dark{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #1d1b2bd5;
  color: white;
}
.dark > a {
  color: white;
}

.dark .card {
  background-color: #1d1b2b87;
  color: white;
}
.dark h2 {
  color: white;
}

.dark .favButton{
  background-color: rgba(21, 21, 21, 0.774);
  color: aliceblue;
}
.dark .favButton:hover{
  background-color: rgba(247, 250, 186, 0.256);
  
}


.home{
  padding-top: 50px;
}

